.appHeader {
  /* 0% */
  opacity: 0;
  transform: translateY(-4rem);
  /* 100% */
  animation: transform-none 0.35s 0.4s ease-out forwards;
}

.appHeader__wrapper {
  opacity: 0;
  transform: translateX(-4rem);
  animation: transform-none 0.3s 0.7s cubic-bezier(0, 0, 0.23, 1.43) forwards;
}

.appHeader .button__open {
  opacity: 0;
  transform: translateX(4rem);
  animation: transform-none 0.45s 0.65s cubic-bezier(0, 0, 0, 1) forwards;
}

.beverageList__item {
  opacity: 0;
  transform: translateY(4rem);
  animation: transform-none 0.3s 0.85s cubic-bezier(0.6, 0.01, 0.16, 1) forwards;
}

.beverageList__item:nth-child(1) {
  animation-duration: 0.8s;
}
.beverageList__item:nth-child(2) {
  animation-duration: 1.2s;
}
.beverageList__item:nth-child(3) {
  animation-duration: 1.6s;
}
.beverageList__item:nth-child(4) {
  animation-duration: 2.0s;
}

@keyframes transform-none {
  to {
    transform: none;
    opacity: 1;
  }
}
